<h2 class='text-center'> <%= params[:ask] %> <br>
  - <em>You</em></h2>

<h2 class='text-center'> <%= @question %> <br>
  - <em>Your coach</em></h2>


<p class='text-center'><%= link_to "Ask a new question", 'ask' %></p>
